<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="style.css" rel="stylesheet">
    <title>Página de Votação</title>
</head>

<body>
    <div class="fundo-votação">
    <header>
        <section>
            <div class="container" id="titulo-da-votacao">
                <div class="row">
                    <div class="col-md-10 col-lg-10 col-xl-12 d-flex justify-content-center">
                        <h4>Titulo do item à ser votado</h4>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section>
        <form class="form">
            <h4 id="subtitulo-votacao">Selecione uma das opções abaixo:</h4>
            <div class="inputGroup">
                <input id="radio1" name="radio" type="radio" />
                <label for="radio1">Sim</label>
            </div>
            <div class="inputGroup">
                <input id="radio2" name="radio" type="radio" />
                <label for="radio2">Não</label>
            </div>
            <div class="inputGroup">
                <input id="radio3" name="radio" type="radio" />
                <label for="radio3">Abstenção</label>
            </div>
        </form>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-4 offset-xl-4 group-btn-conf"  align="center">
                    <button type="button" class="btn btn-success btn-lg" id="btn-confirmacao">Confirmar</button>
                    <button type="button" class="btn btn-danger btn-lg" id="btn-cancelar">Cancelar</button>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
<script src="bootstrap/js/bootstrap.min.js">
</script>

</html>
