<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <title>Reuniões</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-dark bg-gradient bg-success">

    <div class="container">


        <a class="navbar-brand h1 mb-0" href="#">GURI</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSite">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">ADMINISTRATIVO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ACADÊMICO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SISTEMA</a>
                </li>

            </ul>

            <!--<ul class="navbar-nav ml-auto">-->

            <!--<li class="nav-item dropdown">-->

            <!--<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">-->
            <!--Social-->
            <!--</a>-->
            <!--<div class="dropdown-menu">-->
            <!--<a class="dropdown-item" href="#">Facebook</a>-->
            <!--<a class="dropdown-item" href="#">Twitter</a>-->
            <!--<a class="dropdown-item" href="#">Instagram</a>-->

            <!--</div>-->


            <!--</li>-->

            <!--</ul>-->

            <form class="form-inline">
                <input class="form-control ml-4 mr-2" type="search" placeholder="Buscar...">
                <button class="btn btn-secondary" type="Submit">Ok</button>
            </form>

        </div>

    </div>

</nav>


<div class="row">
    <div>
        <hr>
    </div>
</div>

<div class="container bg-white">

        <p class="text-center font-weight-bold text-secondary">Reuniões</p>


        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
</div>

<div class="row">
    <div>
        <hr>
    </div>
</div>
<div id="footer" class="container text-center">
    <a href="javascript:abrirDialog('ptl/sistema/centralDeAjuda',
                                        'dialog_modal_padrao', '500', '540',
                                        'Central de Ajuda',
                                        '',
                                        'dialog_modal_padrao')" class="text-success">
        <img src="https://guri.unipampa.edu.br/public/themes/moder//imgs/help_verde.png" alt="Central de Ajuda">
        Central de Ajuda</a> <br><br>
    Desenvolvido:
    <a href="http://www.dtic.unipampa.edu.br" target="_new" class="text-success">DTIC</a> -
    <a href="http://www.unipampa.edu.br" target="_new" class="text-success">Universidade Federal do Pampa</a> <br>


    <p class="center">
        <a href="http://validator.w3.org/check?uri=referer" target="_new">
            <img src="https://guri.unipampa.edu.br/public/themes/moder//imgs/valid-xhtml10-blue.png"
                 alt="Valid XHTML 1.0 Transitional" height="23" width="66">
        </a>
    </p>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>